In [36]:
import pandas as pd

In [38]:
# Step 2 
# Import the dataset

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")

In [40]:
# Step 4
# See the first 10 entries

print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

In [42]:
# Step 5
# Number of observations

num_observations = chipo.shape[0]
print("Number of observations:", num_observations)

Number of observations: 4622

In [44]:
# Step 6
# Number of columns

num_columns = chipo.shape[1]
print("Number of columns:", num_columns)

Number of columns: 5

In [46]:
# Step 8
# How the dataset is indexed

print("Index:", chipo.index.name)

Index: None

In [48]:
# Step 9
# Most-ordered item

most_ordered_item = chipo["item_name"].mode()[0]
print("Most-ordered item:", most_ordered_item)

Most-ordered item: Chicken Bowl

In [50]:
# Step 10
# Number of most-ordered items

num_most_ordered_items = chipo["item_name"].value_counts().loc[most_ordered_item]
print("Number of most-ordered items:", num_most_ordered_items)

Number of most-ordered items: 726

In [52]:
# Step 11
# Most ordered item (choice_description)

most_ordered_choice = chipo["choice_description"].mode()[0]
print("Most ordered item (choice_description):", most_ordered_choice)

Most ordered item (choice_description): [Diet Coke]

In [54]:
# Step 12
# Total items ordered

total_items_ordered = chipo["quantity"].sum()
print("Total items ordered:", total_items_ordered)

Total items ordered: 4972

In [56]:
# Step 13
# Fixing and converting item price
# Remove leading/trailing $ and convert to float

# lambda function to clean price
dollarizer = lambda x: float(x[1:-1])

# Apply the function to the item_price column
chipo["item_price"] = chipo["item_price"].apply(dollarizer)

# Check the data type of item price
print("Item price data type after conversion:", chipo["item_price"].dtype)

Item price data type after conversion: float64

In [67]:
# Step 14
# Revenue for the period

revenue = (chipo["quantity"] * chipo["item_price"]).sum()
print("Total revenue:", revenue)

Total revenue: 39237.02

In [60]:
# Step 15
# Number of orders

num_orders = chipo["order_id"].nunique()
print("Number of orders:", num_orders)

Number of orders: 1834

In [62]:
# Step 16
# Average revenue per order

avg_revenue_per_order = revenue / num_orders
print("Average revenue per order:", avg_revenue_per_order)

Average revenue per order: 21.39423118865867

In [69]:
# Step 17
# Number of different items sold

num_items_sold = chipo["item_name"].nunique()
print("Number of different items sold:", num_items_sold)

Number of different items sold: 50